body{
    background-color: black;
    color: aliceblue;
}
Componet{
    display: flex;
    align-items: center;
    justify-content: center;
}
button{
    background-color: aqua;
    border-radius:10px ;
}
